# .htaccess
# /config.php
# admin/config.php

*error_log
!index.html

backup_aug/

download/

# Images
/image/
image/data/
image/cache/

# Videos.. 
*.mp4
*.mov
*.webp

# Archives
*.zip
*.tar.gz
*.gz 

# Cache, Logs
system/cache/
system/logs/

system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
