<div class="section-shipping" v-if="shipping_required">
    <div class="title section-title">{{ j3.settings.get('sectionTitleShippingMethod') }}</div>
        <div class="section-body">
            
            <div v-if="Object.keys(shipping_methods).length === 0" class="alert alert-warning">
                <i class="fa fa-exclamation-circle"></i>{{ error_warning }}
            </div>
            
            
            {# <pre v-html="order_data" style="visibility:hidden; display: none;"></pre> #}
            {# <style>
                table.table_shipping_method {

                }

                tbody.shipping-options {

                }

                label.table_shipping_method_label {
                    padding-left: 0px; min-width: 0px;

                }
                
                label.table_shipping_method_label input[type="radio"] {
                    margin-left: 0; position: inherit;
                }

                label.table_shipping_method_label td {
                    padding: 10px 15px 10px 0px !important; min-width: 0px!important; margin: 0px!important;
                }

                .shipping-payment .section-body .radio {
                    margin-bottom: 8px; padding: 0px 0px;
                }
                
            </style> #}

            <div v-for="shipping_method in shipping_methods">
            
                {# <pre v-html="shipping_method" style="clear: both;display: inline-table;width: 100%;"></pre> #}

                <div class="shippings">
                    <div class="ship-wrapper">
                        {# If a DHL remote fee is added  #}
                        <div v-if="shipping_method.title.includes(' [remote fee]') === true">
                            <p v-html="shipping_method.title.replace(' [remote fee]', '').replace('Automated ', '')"></p>
                            <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>
                                <b>WARNING!</b>  DHL charges an extra $42.00 USD for a remote address. Try to use a ship to address that is more commercial.
                            </div>
                        </div>
                        {# No DHL remote fee is added #}
                        <div v-else> 
                            <p v-html="shipping_method.title.replace('Automated ', '')"></p>
                        </div>


 
                        <div class="radio" v-for="quote in shipping_method.quote" style="margin-bottom: 8px; padding: 0px 0px;">
                            <label class="table_shipping_method_label" style="min-width: 0px;width: 100%;">
 
                                <input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code"/>

                            
                                {# Rename "First-Class Package Service - Retail" to "First-Class Postal" #}
                                {# <div v-if="quote.title.includes('First-Class Package Service - Retail') === true"   style="padding: 0px;" >
                                    <span class="shipping-quote-title" v-html="quote.title.replace('First-Class Package Service - Retail', 'First-Class Postal') + (quote.text ? ' - ' + '<b>'+quote.text+'</b>' : '')"></span>
                                </div> #}

                                {# Any other Shipping Method Titles #}
                                {# <div v-else     style="padding: 0px;">     #}
                                    <span class="shipping-quote-title" v-html="quote.title + (quote.text ? ' - ' + '<b>'+quote.text+'</b>' : '')"></span>
                                    <span class="shipping-quote-desc" v-if="quote.desc" v-html="quote.desc"></span>
                                {# </div> #}

                            </label>
                        </div>


                        {# 
                         # This is a table version of the cost display, easier to read in some cases, but because of the small space it resides it is not always the best option..  
                         #}

                        {# <div class="radio" v-for="quote in shipping_method.quote" style="margin-bottom: 8px; padding: 0px 0px;">
                            <label class="table_shipping_method_label" style="padding-left: 0px; min-width: 0px;width: 100%;">

                                <table class="table_shipping_method" style="width: 100%;border: none;">
                                    <tbody class="shipping-options">
                                        <tr>
                                            <td style="padding: 10px 5px 10px 0px; min-width: 0px; margin: 0px;border: none!important;">
                                                <input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code" style="margin-left: 0; position: inherit;"/>
                                            </td>
                                            
                                            <td style="padding:0px; min-width: 0px; margin: 0px;border: none!important;">
                                                <span class="shipping-quote-title" v-html="quote.title"></span>
                                            </td>
                                            
                                            <td style="text-align: right;min-width: 0px;border: none !important;padding: 0px 6px 0px 0px;">
                                                <span class="p-price" v-html="(quote.text ? '<b>'+quote.text+'</b>' : '')"></span>                                            
                                             </td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </label>
                        </div> #}

{# 
                        <div class="radio" v-for="quote in shipping_method.quote">
                            <label>

                                <table class="table_shipping_method">
                                    <tbody class="shipping-options">
                                        <tr>
                                            <td style="margin: 0; width: 0px;">
                                                <input type="radio" name="product_variation">
                                            </td>
                                            <td>UPS SurePost Over 1lbs</td>
                                            <td>
                                                <data class="p-price" value="7.78">$7.78</data>
                                                <del>$7.78</del>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>    
                                                         #}
                                {# <input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code"/>
                                <span class="shipping-quote-title" v-html="quote.title + (quote.text ? ' - ' + '<b>'+quote.text+'</b>' : '')"></span>
                                <span class="shipping-quote-desc" v-if="quote.desc" v-html="quote.desc"></span> #}

                                    {# <div class="bg-light clearfix" style="width: 100%">
                                        <div class="pull-left">Total Cost</div>
                                        <div class="pull-right">$50</div>
                                    </div> #}
                                    {# <table class="radio">
                                        <tbody>
                                            <tr class="highlight">
                                                <td> <input type="radio" name="shipping_method" value="ups.03" id="ups.03" checked="checked"> </td>
                                                <td><label for="ups.03">UPS Ground</label></td>
                                                <td style="text-align: right;"><label for="ups.03">$11.60</label></td>
                                            </tr>
                                        </tbody>
                                    </table> #}
                            {# </label>
                        </div> #}

                    </div>
                </div>
            </div>
    </div>
</div>
