<div class="section-shipping" v-if="shipping_required">
    <div class="title section-title">{{ j3.settings.get('sectionTitleShippingMethod') }}</div>
        <div class="section-body">
            <div v-if="Object.keys(shipping_methods).length === 0" class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
      
            {# <pre v-html="raw_json" style="clear: both;display: inline-table;width: 100%;"></pre> #}

            <div v-for="shipping_method in shipping_methods">
            
                <pre v-html="shipping_method" style="clear: both;display: inline-table;width: 100%;"></pre>

                <div class="shippings">
                    <div class="ship-wrapper">
                        


            
                        {# If a DHL remote fee is added  #}
                        <div v-if="shipping_method.title.includes(' [remote fee]') === true">
                            <p v-html="shipping_method.title.replace(' [remote fee]', '')"></p>
                            <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>
                                <b>WARNING!</b>  DHL charges an extra $42.00 USD for a remote address. Try to use a ship to address that is more commercial.
                            </div>
                        </div>

                        {# No DHL remote fee is added #}
                        <div v-else> 
                            <p v-html="shipping_method.title"></p>
                        </div>

                        <div class="radio" v-for="quote in shipping_method.quote">
                            <label>
                                <input v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code"/>
                                <span class="shipping-quote-title" v-html="quote.title + (quote.text ? ' - ' + quote.text : '')"></span>
                                <span class="shipping-quote-desc" v-if="quote.desc" v-html="quote.desc"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
