# php_value max_input_vars 30000
# php_value max_post_size 30000
# php_value max_execution_time 1000
# php_value max_input_time -1
# php_value memory_limit 2024M
# php_value max_input_nesting_level 3000